@import "instance.scss";

$img-url: "" !default;

/* Custom picture */
.drawer__inner__mastodon {
  background: url( $img-url ); /* 👈 Put image url here. */
  background-position: center center;
  /* 💡 👆 Controls the focus point when cropped.
    First word:  top, center, or bottom
    Second word: left, center, or right
  */
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin: auto 10px 10px 10px;
  border-radius: calc($corners - 10px);
  height: 5000px;
}
.drawer__inner__mastodon img {
  visibility: hidden;
}
