@charset "UTF-8";
/* Columns: resizable, spread, round */
.drawer {
  margin-right: auto;
  resize: horizontal;
  min-width: 240px;
}

.column {
  padding: 0 !important;
  margin: 0.5em;
  margin-right: auto;
  border-radius: 25px;
  resize: horizontal;
}

.column-header {
  padding: 0 0.4em 0 0.1em;
}

.drawer__inner {
  overflow: visible;
  display: flex;
}

.drawer__inner__mastodon {
  max-height: 200px; /* 💡 If the bottom-left picture grows to big, change that. */
  background: none;
  flex: none;
  margin: auto 0 0 0;
}

/* Recolor */
body {
  background: #16191e;
}

.compose-form .autosuggest-textarea__textarea,
.compose-form .spoiler-input__input,
.compose-form .compose-form__modifiers {
  background: #181a1b;
  color: #ddd;
}
.compose-form .compose-form__buttons-wrapper {
  background: #232628;
}

.text-icon-button,
.icon-button.inverted,
.character-counter {
  color: #a8a9a9;
}

.search__input {
  background: #20232c;
}

.search__input:focus {
  background: #242733;
}

.search-popout {
  background: #181a1b;
  color: #98B0C6;
}
.search-popout em {
  color: #ddd;
}

.column-header,
.column-header__button {
  background: #282c39;
}

.column > .scrollable {
  background: #20232c;
  scrollbar-width: thin;
  scrollbar-color: #282c39 #20232c;
}

.column-link {
  background: #20232c;
}

.account__header__bar,
.column-back-button,
.detailed-status,
.detailed-status__action-bar {
  background: #282c39;
}

.drawer__inner {
  background: linear-gradient(0deg, #20232c 0%, #333746 100%);
}

/* Roundness */
.drawer__header, .drawer__tab {
  border-radius: 25px;
}

.search__input {
  border-radius: 25px;
  padding-left: 20px;
}

.search__icon .fa {
  right: 20px;
}

.drawer__pager {
  border-radius: 10px 10px 25px 25px;
}

.autosuggest-textarea textarea {
  border-radius: 12px 12px 0 0 !important;
}

.compose-form__buttons-wrapper {
  border-radius: 0 0 12px 12px !important;
}

.compose-form__publish-button-wrapper button {
  border-radius: 12px !important;
}